"""This module contains the config settings for Cyclone"""

TOKEN = "INSERTYOURBOTTOKENHERE"
ROLES = ["Admin", "Discord Mod", "Subreddit Mod", "Mod"]
STORMMODEIMAGE = "https://example.com/img/stormmode.gif"

EMBEDROLES = "https://gist.example.com/roles.json"
EMBEDRULES = "https://gist.example.com/rules.json"
